 .haniWindow {
  height: 85vh;
  width: 100%;
  padding-bottom: 3vh;
}



.sidewrapper {
  border: 1px solid rgba(226, 233, 235, 0.979);
  padding: 3px;
}

.horiznav {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  height: 15%;
  margin: 10px 20px;
}


input textarea {
  width:80%;
  border: 1px solid rgb(206, 204, 204);
}

.nowrap {
  white-space: nowrap;
  overflow:auto;
  border: 1px solid #ECF0F1;
}

.btn-select {
  margin: 0 auto;
  display: block;
  width: 50%;
  border:1px solid rgb(216, 216, 216)
}

.option-banner {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 10px;
  color:seashell;
  text-align: center;
}

.why-how-banner {
  margin-bottom: 10px;
  color:rgb(22, 22, 22);
  border-bottom: none;
}

.nav-span {
  cursor:pointer;
  border-bottom: 1px solid rgb(202, 202, 202)
}

.fa-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

input {
  width:100%;
}

.dangerbuttons {
  margin: 0 auto;
  display: block;
  width:50%;
  margin-top: 10px
}

.reportbutton {
  margin-left: auto;
  margin-top: auto;
  order: 2
}

.fakelink {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.w3-bar {
  width: 100%;
  overflow: auto
}