 .haniWindow {
  height: 85vh;
  width: 100%;
  padding-bottom: 3vh;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: rgb(255, 255, 255);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}
.leftnav {
  left: 0;
}

.rightnav {
  right: 0;
}

/* The navigation menu links */
.sidenav button {
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  color:gray;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn:hover {
  cursor: pointer;
}

.fullwidth {
  width:100%
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav button {font-size: 18px;}
}


.sidewrapper {
  border: 1px solid rgba(226, 233, 235, 0.979);
  padding: 3px;
}

.horiznav {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  height: 15%;
  margin: 10px 20px;
}


input textarea {
  width:80%;
  border: 1px solid rgb(206, 204, 204);
}

.nowrap {
  white-space: nowrap;
  overflow:auto;
  border: 1px solid #ECF0F1;
}

.btn-select {
  margin: 0 auto;
  display: block;
  width: 50%;
  border:1px solid rgb(216, 216, 216)
}

.option-banner {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 10px;
  color:seashell;
  text-align: center;
}

.why-how-banner {
  margin-bottom: 10px;
  color:rgb(22, 22, 22);
  border-bottom: none;
}

.nav-span {
  cursor:pointer;
  border-bottom: 1px solid rgb(202, 202, 202)
}

.fa-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

input {
  width:100%;
}

.dangerbuttons {
  margin: 0 auto;
  display: block;
  width:50%;
  margin-top: 10px
}

.reportbutton {
  margin-left: auto;
  margin-top: auto;
  order: 2
}

.fakelink {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.w3-bar {
  width: 100%;
  overflow: auto
}