table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: visible;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.wrapper-div {
    display: table-cell;
      vertical-align: middle;
      left: 0;
    }

.respond {
    position: relative;
}
table td, table th {
    padding-left: 8px;
}

.diz {
    width: 11%;
}

.biz {
    width: 80%;
    font-size: 1vz;
}

table thead tr {
    height: 60px;
    background: #add0ec;
    font-size: 16px;
}
table tbody tr {
    height: 48px;
    border-bottom: 1px solid #c2dcf0;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
    vertical-align: middle;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}
@media screen and (max-width: 35.5em) {
    table {
        display: block;
   }
    table > *, table tr, table td, table th {
        display: block;
   }
    table thead {
        display: none;
   }
    table tbody tr {
        height: auto;
        padding: 8px 0;
   }
    table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
   }
    table tbody tr td:last-child {
        margin-bottom: 0;
   }
    table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 40%;
        left: 10px;
        top: 0;
   }
}
body {
    background: #fff;
    font: 400 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 20px;
}
tr:hover {
    background-color: #ceeaff;
}
blockquote {
    color: white;
    text-align: center;
}
