<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/welcome']">{{ pageTitle }}</a>
    <ng-container *ngIf="auth.isAuthenticated()">
      <a class="dropdown nav-link">
        <span class="dropbtn">Cher</span>
        <div class="dropdown-content">
          <a class="nav-link" [routerLink]="['/alerts/disaster']">Disaster</a>
          <a class="nav-link" [routerLink]="['/alerts/high']">High</a>
        </div>
      </a>
      <a class="nav-link" [routerLink]="['/hani/reporting']" *ngIf="this.auth.userType < 3"
        >Reporting</a
      >
      <a class="nav-link" [routerLink]="['/hani']">Hani</a>
    </ng-container>
    <a class="nav-link" [routerLink]="['/eva/dmca']" *ngIf="this.auth.userType < 4">Eva</a>
    <a
      *ngIf="!auth.isAuthenticated()"
      class="nav-link"
      style="display: inline-block"
      [routerLink]="['user/login']"
      >Login</a
    >
    <a
      *ngIf="auth.isAuthenticated()"
      (click)="logOut()"
      class="nav-link"
      style="display: inline-block"
      [routerLink]="['user/login']"
      >Logout</a
    >
  </div>
</nav>
