<div>
  <h1>User Information</h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="saveProfile()" novalidate>
      <div class="form-group" [ngClass]="{'error' : !validateFirstName()}">
        <label for="firstName">First Name:</label>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a~z</em>
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.restrictedWords">Contains restricted word</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
      </div>
      <div class="form-group" [ngClass]="{'error' : !validateLastName()}">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!validateLastName() && profileForm.controls.lastName.errors.required">Required</em>
        <em *ngIf="!validateLastName() && profileForm.controls.lastName.errors.pattern">Required</em>
        <em *ngIf="!validateLastName() && profileForm.controls.lastName.errors.restrictedWords">Contains restricted word</em>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>
      <div class="form-group">
        <label for="password">Change Password: </label>
        <input formControlName="password" id="password" type="text" class="form-control" placeholder="Enter a new password"/>
      </div>

      <button type="submit" class="btn btn-primary" (click)="saveProfile()">Save</button>
      <button type="button" class="btn btn-default"style="border:1px solid #444444; margin-left:5px" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>