
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */