
    .tooltip {
        visibility: visible;
        position: relative;
        display: inline-block;
        opacity: 1;
    }
  /* Tooltip text */
   .tooltip .tooltiptext {
    visibility: hidden;
    width: 10vh;
    height: 12vh;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  

  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:active .tooltiptext {
    visibility: visible;
    opacity: 1;
  }