<body style='height:100vh'>
<div class='card'>
    <h1><div class='card-header'>
    <span>Welc<span *ngIf="!rSys">o</span><span *ngIf="rSys"><a href="https://en.wikipedia.org/wiki/Rebel_Alliance"><i class="icon-rebel"></i></a></span>me to Muse</span>
    </div></h1>
    <div class='card-body'>
      F<span (click)="setRSys(0)">e</span>atur<span (click)="setRSys(1)">e</span>s:
      <li><span>R<span (click)="setRSys(2)">e</span>al-tim<span (click)="setRSys(3)">e</span> r<span (click)="setRSys(4)">e</span>porting from Zabbix</span></li>
      <li><span>R<span (click)="setRSys(5)">e</span>porting for disast<span (click)="setRSys(6)">e</span>r-l<span (click)="setRSys(7)">e</span>v<span (click)="setRSys(8)">e</span>l issu<span (click)="setRSys(9)">e</span>s</span></li>
      <li><span>R<span (click)="setRSys(10)">e</span>porting on d<span (click)="setRSys(11)">e</span>modulation-r<span (click)="setRSys(12)">e</span>lat<span (click)="setRSys(13)">e</span>d issu<span (click)="setRSys(14)">e</span>s</span></li>
      <li><span>Hani: Th<span (click)="setRSys(16)">e</span> Troubl<span (click)="setRSys(15)">e</span>shooting Assistant</span></li>
    </div>
</div>
