.hover-row {
  background-color: rgb(240, 240, 240);
}

.hover-row:hover {
  background-color: rgb(200, 200, 200);
}

.hiddentable {
  height: 0%
}

.showntable {
  height: auto;
}

.fakebutton {
  color: white;
  transition: .15s;
  background-color: #6c757d;
  margin: auto 3px;
  padding: 3px;
  border-radius:.25rem;
  }

  .fakebutton:hover {
    background-color: #586066;
  }

  .rightthirty {
    width: 30%;
  }