<div class="card-header" style="background-color:rgb(121, 179, 82)">
  {{ pageTitle }}
</div>
<div class="flexr">
  <div [ngClass]="{ 'w3-sidebarmod': this.formView, flexr: true }">
    <form
      novalidate
      (ngSubmit)="save()"
      [formGroup]="dmcaForm"
      class="flexc flex1"
      *ngIf="formView"
    >
      <div class="form-group mb-2 flexc flex1">
        <label class="col-form-label flex1" for="azotelId">Azotel ID</label>
        <input class="form-control flex1" id="azotelId" formControlName="azotelId" />
      </div>
      <div class="form-group mb-2 flexc flex1">
        <label class="col-form-label flex1" for="azotelName">Azotel Name</label>
        <input class="form-control flex1" id="azotelName" formControlName="azotelName" />
      </div>
      <div class="form-group mb-2 flexc flex1">
        <label class="col-form-label flex1" for="CPEMAC">CPE MAC</label>
        <input class="form-control flex1" id="CPEMAC" formControlName="CPEMAC" />
      </div>
      <div class="form-group mb-2 flexc flex1">
        <label class="col-form-label flex1" for="routerMAC">Router MAC</label>
        <input class="form-control flex1" id="routerMAC" formControlName="routerMAC" />
      </div>
      <div class="form-group mb-2 flexc flex1">
        <label class="col-form-label flex1" for="email">Email</label>
        <input class="form-control flex1" id="email" formControlName="email" />
      </div>
      <button
        class="btn btn-light"
        [title]="dmcaForm.valid ? 'Save data' : 'Please complete the form'"
        [disabled]="!dmcaForm.valid"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
  <div (click)="toggleForm()" style="position: absolute; top: 50%">
    <i class="icon-angle-left" *ngIf="formView"></i>
    <i class="icon-angle-right" *ngIf="!formView"></i>
  </div>

  <table>
    <tbody>
      <tr>
        <th>Azotel ID</th>
        <th>Azotel Name</th>
        <th>CPE MAC</th>
        <th>Router MAC</th>
        <th>Email</th>
        <th>Email Sent</th>
        <th>Infraction Count</th>
        <th>Infraction History</th>
        <th>Submit</th>
      </tr>
      <tr
        class="greenFocus"
        tabindex="0"
        *ngFor="let offender of offenders | keyvalue"
        (focus)="focus(i)"
      >
        <td>{{ offender.key }}</td>
        <td><input type="string" [(ngModel)]="offender.value.azotelName" /></td>
        <td><input type="string" [(ngModel)]="offender.value.CPEMAC" /></td>
        <td><input type="string" [(ngModel)]="offender.value.routerMAC" /></td>
        <td><input type="string" [(ngModel)]="offender.value.email" /></td>
        <td><input type="checkbox" [(ngModel)]="offender.value.emailed" /></td>
        <td>{{ offender.value.infractionHistory.length }}</td>
        <td>
          <div class="hider-container">
            <button>Edit</button>
            <div class="hider">
              <tr>
                <th>Date</th>
                <th>Info</th>
                <th>
                  <button class="btn btn-success" (click)="addHistoryRow(offender.key)">
                    Add Row
                  </button>
                </th>
              </tr>
              <tr *ngFor="let history of offender.value.infractionHistory; let i = index">
                <td>
                  <input type="date" id="infractionDate" [(ngModel)]="history.infractionDate" />
                </td>
                <td>
                  <textarea id="infractionInfo" [(ngModel)]="history.infractionInfo"></textarea>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="removeHistoryRow(offender.key, i)">
                    Remove
                  </button>
                </td>
              </tr>
            </div>
          </div>
        </td>
        <td><button (click)="sendUpdate(offender.value)">Submit</button></td>
      </tr>
    </tbody>
  </table>
</div>
<br />
