table {
  table-layout:auto;
  width: 100%;
  padding: 10px;
  margin: 10px
}

.flexr {
  display: flex;
  flex-direction: row
}

.flexc {
  display: flex;
  flex-direction: column
}

.flex1 {
  flex: 1
}

.flex2 {
  flex: 2
}

.flexcenter {
  align-self: center
}

table, th, td {
  border: 1px solid black
}

th {
  text-align: center;
}

.hider-container {
  min-width: 100%;
  min-height: 100%
}

.greenFocus:focus-within {
  border: 2px solid green
}

.hider {
  box-sizing: 100%;
  width: 100%;
}

.hider-container .hider {
  display: none
}

.hider-container:focus .hider {
  display: inline-block
}

.hider-container:focus-within .hider {
  display: inline-block
}

input {
  box-sizing: border-box;
  width: 100%;
}

.hider-container {
  min-width: 100%;
  min-height: 100%
}

.greenFocus:focus-within {
  border: 2px solid green
}

.hider {
  box-sizing: 100%;
  width: 100%;
}

.hider-container .hider {
  display: none
}

.hider-container:focus .hider {
  display: inline-block
}

.hider-container:focus-within .hider {
  display: inline-block
}

input {
  box-sizing: border-box;
  width: 100%;
}