<div class="card">
  <div class="card-header">Trending Report</div>
  <div class="card-body">
    <p>
      Because Muse and Hani have a very small, limited database, clicking the button will retrieve,
      then clear, their database of all reporting info. Only click the button if you're absolutely
      sure you want to retrieve and clear the reporting data for Hani.
    </p>
    <label for="name">Are you sure you want to pull this report? (type "Yes")</label>
    <input id="name" [(ngModel)]="nameInput" (click)="setError()" />
    <ng-container *ngIf="nameInput === 'Yes'">
      <button class="btn btn-danger" (click)="deliverAsCsv()" *ngIf="!tableState">I Am Sure</button>
    </ng-container>
    <br />
    <textarea [(ngModel)]="csv" *ngIf="tableState"></textarea>
  </div>
</div>
